
.my-theme {
  --border: hsl(0 0% 80%);
  --card: hsl(0 0% 98%);
  --element: hsl(0 0% 90%);
  --accent: hsl(240 38% 60%);
  --panel: hsl(240 38% 98%);
  --entity-size: 30px;
  --panel-height: calc(6 * 60px + 4rem + 6 * 1rem); 
}


body {
  min-height: 100vh;
  timeline-scope: --scroller;
  overflow-x: hidden;
}

main {
  min-height: 300vh;
  position: relative;
  width: 100%;
}

.sticker {
  width: 100%;
  min-height: 100vh;
  position: sticky;
  top: 0;
  z-index: 2;
}

.scroller {
  position: relative;
  min-height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  view-timeline: --scroller;
}

.content1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.panel {
  width: clamp(320px, 50vw, 750px);
 /* width: 680px; */
  max-width: calc(100vw - 2rem);
  border-radius: 18px;
  /* border: 10px; */
  display: grid;
  grid-template-rows: repeat(6, 60px);
  gap: 1rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 32px 32px rgba(23,22,24,.04),0 16px 16px rgba(23,22,24,.04),0 8px 8px rgba(23,22,24,.04);
}


.scroller .panel {
  background: var(--panel);
}

.panel__row {
  container-type: size;
  display: flex;
  justify-content: center;
}

.panel {
  --span: max(40vw, 260px);
}

.scroller .panel div {
  display: none;
}

main {
  height: 100vh;
}


.sticker .panel {
  border-color: transparent;
  background: transparent;
  box-shadow: none;
}


.card {
  display: flex;
  align-items: start;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  height: 100cqh;
  background: var(--card);
  border: 1px solid var(--border);
  box-shadow:
    0 3px 4px rgba(23,22,24,.04),
    0 1px 2px rgba(23,22,24,.04);
}

.card__column {
  width: 100cqh;
  height: 100cqh;
  display: grid;
  place-items: center;
  position: relative;
}

.card__column:last-of-type {
  align-self: flex-end;
}

.card__avatar {
  height: var(--entity-size);
  aspect-ratio: 1;
  background: var(--element);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.card__avatar * {
  position: absolute;
  inset: 0;
  width: 100%;
  object-fit: cover;
}


.image svg {
  width: 50%;
}
.card__avatar img {
  z-index: 2;
}

.card--one .card__column:first-of-type,
.card--four .card__column:first-of-type,
.card--two .card__column:first-of-type {
  align-self: center;
}
.card__content {
  flex: 1;
}

.card__details {
  height: 100cqh;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 58cqi;
  position: relative;
}

.card__dummy .text {
  flex: 0 1 auto;
}

.card--one .card__dummy,
.card--four .card__dummy {
  padding-left: 2rem;
}

.card--one .card__dummy .text:first-of-type,
.card--four .card__dummy .text:first-of-type {
  width: 85%;
}
.card--one .card__dummy .text:last-of-type,
.card--four .card__dummy .text:last-of-type {
  width: 55%;
}

.card__dummy {
  height: 160cqh;
  width: 100%;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.image {
  height: var(--entity-size);
  aspect-ratio: 1;
  background: var(--element);
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.card__company {
  height: var(--entity-size);
  aspect-ratio: 1;
  background: var(--element);
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.youtube {
  background: #FF0000;
}
.slack {
  background: #4A154B;
}
.headspace {
  background: #F47D31;
}
.alexa {
  background: #00CAFF;
}
.messenger {
  background: #00B2FF;
}
.notion {
  background: #000000;
}
.paypal {
  background: #003087;
}
.password {
  background: #3B66BC;
}
.bluesky {
  background: #0285FF;
}
.calendly {
  background: #006BFF;
}
.instagram {
  background: #E4405F;
}
.x {
  background: #000000;
}

:where(.image, .card__company) path {
  fill: white;
}

/*.card__content div:*/


.card__company svg {
  width: 50%;
}

/* Animations */
.card--one {
  --x: calc(var(--span) * -1);
  --y: -10%;
  --r: -8deg;
  --h: 160%;
  --w: max(55cqi, 320px);
}

.card--two {
  --x: calc(var(--span) * -1);
  --y: -30%;
  --r: 6deg;
  --h: 300%;
  --w: max(55cqi, 330px);
}

.card--three {
  --x: calc(var(--span) * 1);
  --y: -50%;
  --r: 15deg;
  --h: 360%;
  --w: max(30cqi, 220px);
}

.card--four {
  --x: calc(var(--span) * 1);
  --y: 10%;
  --r: 10deg;
  --h: 160%;
  --w: max(55cqi, 320px);
}

.card--five {
  --x: calc(var(--span) * -1);
  --y: -45%;
  --r: -20deg;
  --h: 525%;
  --w: max(30cqi, 160px);
}

.card--six {
  --x: calc(var(--span) * 1);
  --y: -30%;
  --r: -5deg;
  --h: 400%;
  --w: max(45cqi, 305px);
}
@supports (animation-timeline: scroll()) {

  .hero {
    position: absolute;
  }

  .card {
    animation: grow both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  .card__avatar img {
    animation: fade-in both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  @keyframes fade-in {
    0%, 50% { opacity: 0; }
  }

  .password svg {
    animation: fade-in both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  .card__content {
    animation: slide both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  .card--one .card__avatar,
  .card--four .card__avatar {
    --s: 2;
    transform-origin: 0 50%;
    animation: morph both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  .card--two .card__avatar {
    animation: shrink both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  .card--two .card__column:last-of-type,
  .card--three .card__column:last-of-type,
  .card--five .card__column:last-of-type {
    animation: slide both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  .card--six .card__column:last-of-type .card__company {
    animation: cta-morph both linear, color-in both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  .card--five .card__dummy,
  .card--six .card__dummy {
    animation: expand both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  .cta {
    animation: morph both linear;
    animation-timeline: --scroller;
    animation-range: entry 0% exit 0%;
  }

  @keyframes cta-morph {
    0%, 30% {
      translate: -1rem 0;
      width: 120px;
    }
  }
  @keyframes color-in {
    0%, 50% {
      background: var(--element);
    }
  }
  @keyframes expand {
    0%, 30% {
      width: var(--w, 26cqi);
    }
  }
  @keyframes shrink {
    0%, 30% {
      width: calc(var(--w) - 2rem);
      border-radius: 12px;
      height: calc(300cqh - 2rem);
    }
    85% {
      height: var(--entity-size);
      width: var(--entity-size);
    }
  }
  @keyframes grow {
    0% {
      translate: var(--x, 0) var(--y, 0);
      height: var(--h, 100%);
      rotate: var(--r, 0);
      width: var(--w, 10cqi);
    }
    15% {
      rotate: var(--r, 0);
    }
    30% {
      rotate: 0deg;
      height: var(--h, 100%);
      width: calc(var(--w, 10cqi));
      translate: 0 var(--y, 0);
    }
  }

  @keyframes morph {
    0% {
      scale: var(--s);
    }
  }

  @keyframes slide {
    0%,
    30% {
      translate: 0 -100cqh;
    }
    100% {
      translate: 0 0;
    }
  }
}



.card--one .card__avatar,
.card--four .card__avatar {
  --s: 2;
  transform-origin: 0 50%;
}

.card--two .card__avatar {
  position: absolute;
  z-index: 4;
  left: 1rem;
  width: var(--entity-size);
  max-width: calc(100cqi - 2rem);
}

.card--two .card__column:last-of-type,
.card--three .card__column:last-of-type,
.card--five .card__column:last-of-type {
  align-self: flex-start;
}

.card--six .card__column:last-of-type {
  align-self: start;
  width: auto;
  min-width: 60px;
}
.card--six .card__column:last-of-type .card__company {
  border-radius: 100px;
  width: var(--entity-size);
}

.card--three .card__dummy,
.card--five .card__dummy,
.card--six .card__dummy {
  width: 30cqi;
  min-width: 220px;
  position: absolute;
  left: 0;
  top: 100%;
  height: 260%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card--five .card__dummy {
  height: 425%;
}

.card--six .card__dummy {
  height: 280%;
}

.card--three .text:last-of-type {
  width: 45%;
}

.card--five .card__dummy,
.card--six .card__dummy {
  gap: 1rem;
  width: 34cqi;
}

.card--six .card__dummy {
  --w: 250px;
}

.card--six .grid__panel {
  aspect-ratio: 2 / 1;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  width: calc(100% - 4rem);
}

.grid__panel {
  aspect-ratio: 1;
  background: var(--element);
  border-radius: 12px;
}

.ring1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  translate: 0 0%;
}

.ring1--over {
  z-index: 10;
}

.ring1--over img {
  clip-path: inset(45.8% 0 0 0);
  
}

.ring1 img {
  filter: hue-rotate(120deg);
  width: 100%;
  min-width: 700px;
  max-width: 1400px;
  position: absolute;
  top: 0.1px;
  left: 50%;
  translate: -50% -50%;
  object-fit: cover;
  
}


